.library-songs{
    height: 80vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem;
}
.library-title{
    color: white;

}
