.song-data {
    //background-color:#787A91;
    color: white;
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.song-cover {
    height: 10rem; 
    width: 10rem;
    border-radius: 10px;
}