.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
   //background-color: #c39681;
    font-size: 8rem;
    color: white;
  }
  .title{
    width:30%;
  }
  .nav-links{
    //background-color: aquamarine;
    width: 70%;
  }
  .nav-links-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  